In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
bball_data = pd.read_csv("players_stats_by_season_full_details.csv")

In [63]:
bball_data.Player

0              Kevin Durant
1              LeBron James
2               Dwyane Wade
3             Dirk Nowitzki
4               Kobe Bryant
                ...
36945        Klym Artamonov
36946         Nicola Spasic
36947      Volodymyr Koniev
36948      Oleksandr Kobets
36949    Leonid Stefanishin
Name: Player, Length: 36950, dtype: object

In [17]:
bball_data.columns

Index(['League', 'Season', 'Stage', 'Player', 'Team', 'GP', 'MIN', 'FGM',
       'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 'ORB', 'DRB', 'REB',
       'AST', 'STL', 'BLK', 'PTS', 'birth_year', 'birth_month', 'birth_date',
       'height', 'height_cm', 'weight', 'weight_kg', 'nationality',
       'high_school'],
      dtype='object')

In [73]:

#stats.index

def decade_per_game(player):
    stats = bball_data.groupby(by = "Player").sum()
    games_played = int(stats[stats.index == player].GP)
    stats_pg = stats[stats.index == player]/games_played
    stats_pg = stats_pg[['MIN', 'FGM', 'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF',
       'ORB', 'DRB', 'REB', 'AST', 'STL', 'BLK', 'PTS']]
    stats_pg["FG%"] = stats_pg.FGM/stats_pg.FGA
    stats_pg["3P%"] = stats_pg['3PM']/stats_pg['3PA']
    stats_pg["FT%"] = stats_pg.FTM/stats_pg.FTA
    stats_pg = round(stats_pg, 3)
    return stats_pg

In [74]:
decade_per_game("Kevin Durant")

,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,ORB,DRB,REB,AST,STL,BLK,PTS,FG%,3P%,FT%
Player,,,,,,,,,,,,,,,,,,,
Kevin Durant,37.591,9.53,19.217,2.05,5.44,7.145,8.098,3.172,2.064,0.704,6.799,7.503,4.382,1.102,1.178,28.255,0.496,0.377,0.882

In [75]:
decade_per_game("LeBron James")

,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,ORB,DRB,REB,AST,STL,BLK,PTS,FG%,3P%,FT%
Player,,,,,,,,,,,,,,,,,,,
LeBron James,38.138,10.015,19.133,1.512,4.307,5.75,7.81,3.608,1.854,1.236,6.718,7.955,7.463,1.578,0.775,27.293,0.523,0.351,0.736